{% extends "accounts/emails/email_base.html" %}

{% block content %}
<p>Bonjour,</p>

<p>Nous avons reçu une demande de réinitialisation du mot de passe pour votre compte Mouin 360.</p>
<p>Vous pouvez réinitialiser votre mot de passe en cliquant sur le bouton ci-dessous :</p>

<div style="text-align: center;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn">Réinitialiser le mot de passe</a>
</div>

<p style="margin-top:20px; font-size:14px; color:#666;">Ce lien pour réinitialiser le mot de passe n'est valable que pendant une courte période.</p>
{% endblock %}
